* {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
}

h1 {
    border-left: 2px solid salmon;
    padding-left: 10px;
}
.different-color {
    color: #FFAD5A;
}

.my-mission img {
    width: 140px;
}